<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.BedsMapper">
    <resultMap id="TraverseDTOMap" type="com.example.dto.TraverseDTO">
        <!-- 映射 TraverseDTO 的其他字段 -->
        <result property="signPubKey" column="sign_pub_key"/>
        <result property="signData" column="sign_data"/>
        <result property="publicKey" column="public_key"/>
        <result property="privateKey" column="private_key"/>
        <result property="userName" column="user_name"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="age" column="age"/>
        <result property="sex" column="sex"/>
        <result property="idCard" column="id_card"/>
        <result property="occupation" column="occupation"/>
        <result property="doctorName" column="doctor_name"/>
        <result property="hospitalName" column="hospital_name"/>
        <result property="bedName" column="bed_name"/>
        <result property="wardName" column="ward_name"/>
        <!-- 嵌套映射 Traverse 对象 -->
        <association property="traverse" javaType="Traverse">
            <id property="id" column="id"/>
            <result property="userId" column="user_id"/>
            <result property="doctorId" column="doctor_id"/>
            <result property="hospitalId" column="hospital_id"/>
            <result property="mainDiagnosis" column="main_diagnosis"/>
            <result property="secondaryDiagnosis" column="secondary_diagnosis"/>
            <result property="drug" column="drug"/>
            <result property="inHospital" column="in_hospital"/>
            <result property="careStatus" column="care_status"/>
            <result property="bedId" column="bed_id"/>
            <result property="timestamp" column="timestamp"/>
            <result property="treatmentDate" column="treatment_date"/>
            <result property="recordDate" column="record_date"/>
            <result property="img" column="img"/>
            <result property="illnessDetail" column="illness_detail"/>
            <result property="furtherCheck" column="further_check"/>
            <result property="nonMedicine" column="non_medicine"/>
            <result property="care" column="care"/>
            <result property="diet" column="diet"/>
        </association>
    </resultMap>
    <update id="updateById" parameterType="com.example.dto.TraverseDTO">
        update traverse
        <set>
            <if test="traverse.bedId != null">
                bed_id = #{traverse.bedId},
            </if>
            in_hospital = #{traverse.inHospital},
            <if test="traverse.careStatus != null">
                care_status = #{traverse.careStatus},
            </if>
        </set>
        where id = #{traverse.id}
    </update>

    <update id="updateBedById" parameterType="com.example.entity.Bed">
        update bed
        <set>
            status = #{status},
        </set>
        where id = #{id}
    </update>

    <select id="selectAllTraverse" resultType="com.example.dto.TraverseDTO" resultMap="TraverseDTOMap">
        select * from traverse_dto
        <where>
            <if test="inHospital == null">and in_hospital in ('已住院','待住院')</if>
        </where>
    </select>

    <select id="selectBedPage" resultType="com.example.entity.Bed">
        select bed.*,ward.name as wardName,ward.img as wardImg
        from bed
        left join ward on bed.ward_id = ward.id
        <where>
            <if test="wardName != null">and ward.name=#{wardName}</if>
        </where>
    </select>

    <select id="selectBedAll" resultType="com.example.entity.Bed">
        select bed.*,ward.name as wardName
        from bed
        left join ward on bed.ward_id = ward.id
    </select>

    <!--    <select id="selectAll" resultType="com.example.entity.Traverse">-->
<!--        select * form traverse-->
<!--    </select>-->

<!--    <select id="selectAllWard" resultType="com.example.entity.Ward">-->
<!--        select *-->
<!--        from ward-->
<!--        <where>-->
<!--            <if test="id != null">and id= #{id}</if>-->
<!--            <if test="name != null">and name= #{name}</if>-->
<!--            <if test="price != null">and price= #{price}</if>-->
<!--            <if test="img != null">and img= #{img}</if>-->
<!--            <if test="description != null">and description = #{description}</if>-->
<!--            <if test="remain != null">and remain= #{remain}</if>-->
<!--        </where>-->
<!--    </select>-->

</mapper>