<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.BedsMapper">

<!--    <select id="selectAll" resultType="com.example.entity.Traverse">-->
<!--        select * form traverse-->

<!--    </select>-->
    <select id="selectAll" resultType="com.example.entity.Traverse">
        select traverse.*, doctor.name as doctorName
        from traverse
        left join doctor on traverse.doctor_id = doctor.id
        where traverse.inhospital = '是'
    </select>

    <select id="selectAllWard" resultType="com.example.entity.Ward">
        select *
        from ward
        <where>
            <if test="id != null">and id= #{id}</if>
            <if test="name != null">and name= #{name}</if>
            <if test="price != null">and price= #{price}</if>
            <if test="img != null">and img= #{img}</if>
            <if test="description != null">and description= #{description}</if>
            <if test="remain != null">and remain= #{remain}</if>
        </where>
    </select>
</mapper>