<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.CareMapper">
    <update id="updateById" parameterType="com.example.entity.Traverse">
        update traverse
        <set>
            <if test="careStatus != null">
                care_status = #{careStatus},
            </if>
        </set>
        where id = #{id}
    </update>


    <select id="selectAll" resultType="com.example.entity.Traverse">
        select traverse.*, doctor.name as doctorName, ward.name as wardName
        from traverse
        left join ward on traverse.ward_id = ward.id
        left join doctor on traverse.doctor_id = doctor.id
        where traverse.inhospital = '已住院'
    </select>

</mapper>