<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.HospitalMapper">
    <sql id="selectComment">
        select id, hospital_name, url
        from hospital
    </sql>

    <insert id="insert">
        insert into hospital( hospital_name, url) values (#{hospitalName},#{url})
    </insert>
    <update id="updateById">
        update hospital
        <set>
            <if test="hospitalName!=null">
                hospital_name = #{hospitalName},
            </if>
            <if test="url!=null">
                url = #{url},
            </if>
        </set>
        where id = #{id}
    </update>
    <delete id="delectById">
        delete from hospital where id = #{id}
    </delete>

    <select id="selectAll" resultType="com.example.entity.Hospital">
        <include refid="selectComment"/>
    </select>
</mapper>