<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.RecordMapper">
    <resultMap id="TraverseDTOMap" type="com.example.dto.TraverseDTO">
        <!-- 映射 TraverseDTO 的其他字段 -->
        <result property="signPubKey" column="sign_pub_key"/>
        <result property="signData" column="sign_data"/>
        <result property="publicKey" column="public_key"/>
        <result property="privateKey" column="private_key"/>
        <result property="userName" column="name"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="age" column="age"/>
        <result property="sex" column="sex"/>
        <result property="idCard" column="id_card"/>
        <result property="occupation" column="occupation"/>
        <result property="doctorName" column="doctor_name"/>
        <result property="hospitalName" column="hospital_name"/>
        <result property="bedName" column="bed_name"/>
        <result property="wardName" column="ward_name"/>
        <!-- 嵌套映射 Traverse 对象 -->
        <association property="traverse" javaType="Traverse">
            <id property="id" column="id"/>
            <result property="userId" column="user_id"/>
            <result property="doctorId" column="doctor_id"/>
            <result property="hospitalId" column="hospital_id"/>
            <result property="mainDiagnosis" column="main_diagnosis"/>
            <result property="secondaryDiagnosis" column="secondary_diagnosis"/>
            <result property="drug" column="drug"/>
            <result property="inHospital" column="in_hospital"/>
            <result property="careStatus" column="care_status"/>
            <result property="bedId" column="bed_id"/>
            <result property="timestamp" column="timestamp"/>
            <result property="treatmentDate" column="treatment_date"/>
            <result property="recordDate" column="record_date"/>
            <result property="img" column="img"/>
            <result property="illnessDetail" column="illness_detail"/>
            <result property="furtherCheck" column="further_check"/>
            <result property="nonMedicine" column="non_medicine"/>
            <result property="care" column="care"/>
            <result property="diet" column="diet"/>
        </association>
    </resultMap>
    <sql id="Base_Column_List">
        id,user_id,doctor_id,time,medical_record,inhospital,inhostpital_record
    </sql>

    <select id="selectAll" resultType="com.example.entity.Record">
        select record.*, user.name as userName, doctor.name as doctorName,hospital.hospital_name as hospitalName,department.name as departmentName
        from record
        left join user on record.user_id = user.id
        left join doctor on record.doctor_id = doctor.id
        left join hospital on record.hospital_id = hospital.id
        left join department on doctor.department_id=department.id
        <where>
            <if test="id != null"> and id= #{id}</if>
            <if test="userId != null"> and record.user_id = #{userId}</if>
            <if test="doctorId != null"> and record.doctor_id = #{doctorId}</if>
            <if test="inhospital != null"> and inhospital = #{inhospital}</if>
            <if test="hospitalId != null"> and record.hospital_id = #{hospitalId}</if>
        </where>
        order by id desc
    </select>

    <select id="selectAllUserName" resultType="com.example.entity.Record">
        select distinct user.name as userName from record
        left join user on record.user_id = user.id
    </select>

    <select id="selectById" resultType="com.example.entity.Record">
        select
        <include refid="Base_Column_List" />
        from record
        where id = #{id}
    </select>

    <delete id="deleteById">
        delete from record
        where  id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.entity.Record" useGeneratedKeys="true">
        insert into record
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="userId != null">user_id,</if>
                <if test="doctorId != null">doctor_id,</if>
                <if test="time != null">time,</if>
                <if test="medicalRecord != null">medical_record,</if>
                <if test="inhospital != null">inhospital,</if>
                <if test="inhostpitalRecord != null">inhostpital_record,</if>
            <if test="hospitalId != null">hospital_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id},</if>
                <if test="userId != null">#{userId},</if>
                <if test="doctorId != null">#{doctorId},</if>
                <if test="time != null">#{time},</if>
                <if test="medicalRecord != null">#{medicalRecord},</if>
                <if test="inhospital != null">#{inhospital},</if>
                <if test="inhostpitalRecord != null">#{inhostpitalRecord},</if>
            <if test="hospitalId != null">#{hospitalId},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.Record">
        update record
        <set>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="doctorId != null">
                doctor_id = #{doctorId},
            </if>
            <if test="time != null">
                time = #{time},
            </if>
            <if test="medicalRecord != null">
                medical_record = #{medicalRecord},
            </if>
            <if test="inhospital != null">
                inhospital = #{inhospital},
            </if>
            <if test="inhostpitalRecord != null">
                inhostpital_record = #{inhostpitalRecord},
            </if>
            <if test="hospitalId != null">
                hospital_id = #{hospitalId},
            </if>
        </set>
        where id = #{id} 
    </update>

    <select id="selectByDoctorAndStatus" resultType="com.example.dto.TraverseDTO" resultMap="TraverseDTOMap">
        select 
            traverse.*,
            user.name,
            user.sex,
            user.age,
            user.id_card,
            user.phone,
            user.occupation
        from traverse
        left join user on traverse.user_id = user.id
        where traverse.doctor_id = #{doctorId}
        and traverse.in_hospital = #{inHospital}
    </select>

</mapper>