<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.ReferralRecordMapper">
    <insert id="add">
        insert into referral_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="outDoctorName != null">out_doctor_name,</if>
            <if test="outHospitalName != null">out_hospital_name,</if>
            <if test="inHospitalName != null">in_hospital_name,</if>
            <if test="outTime != null">out_time,</if>
            <if test="inTime != null">in_time,</if>
            <if test="reason != null">reason,</if>
            <if test="referralStatus != null">referral_status,</if>
            <if test="userName != null">user_name,</if>
            <if test="referralType != null">referral_type,</if>
            <if test="sex != null">sex,</if>
            <if test="age != null">age,</if>
            <if test="idCard != null">id_card,</if>
            <if test="phone != null">phone,</if>
            <if test="diagnosis != null">diagnosis,</if>
            <if test="signatureUrl != null">signature_url,</if>
            <if test="outHospitalAdvice != null">out_hospital_advice,</if>
            <if test="communication != null">communication,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="outDoctorName != null">#{outDoctorName},</if> 
            <if test="outHospitalName != null">#{outHospitalName},</if>
            <if test="inHospitalName != null">#{inHospitalName},</if>
            <if test="outTime != null">#{outTime},</if>
            <if test="inTime != null">#{inTime},</if>
            <if test="reason != null">#{reason},</if>
            <if test="referralStatus != null">#{referralStatus},</if>
            <if test="userName != null">#{userName},</if>
            <if test="referralType != null">#{referralType},</if>
            <if test="sex != null">#{sex},</if>
            <if test="age != null">#{age},</if>
            <if test="idCard != null">#{idCard},</if>
            <if test="phone != null">#{phone},</if>
            <if test="diagnosis != null">#{diagnosis},</if>
            <if test="signatureUrl != null">#{signatureUrl},</if>
            <if test="outHospitalAdvice != null">#{outHospitalAdvice},</if>
            <if test="communication != null">#{communication},</if>
        </trim>
    </insert>
    <update id="update">
        update referral_record
        <set>
            <if test="outTime != null">
                out_time = #{outTime},
            </if>
            <if test="inTime != null">
                in_time = #{inTime},
            </if>
            <if test="reason != null">
                reason = #{reason},
            </if>
            <if test="referralStatus != null">
                referral_status = #{referralStatus},
            </if>
            <if test="outHospitalName != null">
                out_hospital_name = #{outHospitalName},
            </if>
            <if test="inHospitalName != null">
                in_hospital_name = #{inHospitalName},
            </if>
            <if test="userName != null">
                user_name = #{userName},
            </if>
            <if test="referralType != null">
                referral_type = #{referralType},
            </if>
            <if test="sex != null">
                sex = #{sex},
            </if>
            <if test="age != null">
                age = #{age},
            </if>
            <if test="idCard != null">
                id_card = #{idCard},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="diagnosis != null">
                diagnosis = #{diagnosis},
            </if>
            <if test="signatureUrl != null">
                signature_url = #{signatureUrl},
            </if>
            <if test="outHospitalAdvice != null">
                out_hospital_advice = #{outHospitalAdvice},
            </if>
            <if test="communication != null">
                communication = #{communication},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteById">
        delete
        from referral_record
        where id = #{id}
    </delete>

    <select id="selectAll" resultType="com.example.entity.ReferralRecord">
        select referral_record.*
        from referral_record
        <where>
            <if test="referralStatus != null">
                and referral_status = #{referralStatus} 
            </if>
            <if test="outDoctorName != null">
                and out_doctor_name = ${outDoctorName}
            </if>
        </where>
        order by id desc
    </select>

    <select id="selectSuccess" resultType="com.example.entity.ReferralRecord">
        select referral_record.*
        from referral_record
        <where>
            referral_status = "已接诊" or referral_status = "已转入"
            <if test="outDoctorName != null">
                and out_doctor_name = ${outDoctorName}
            </if>
        </where>
        order by id desc
    </select>

    <select id="selectById" resultType="com.example.entity.ReferralRecord">
        select referral_record.*,
        inHospitalName,d1.name as outDoctorName,d2.name as inDoctorName
        from referral_record
        left join doctor as d1 on referral_record.out_doctor_id = d1.id
        left join doctor as d2 on referral_record.in_doctor_id = d2.id
        <where>
           referral_record.id = #{id}
        </where>
    </select>
</mapper>