<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.ReferralRecordMapper">
    <insert id="add">
        insert into referal_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="outDoctorName != null">out_doctor_name,</if>
            <if test="outHospitalName != null">out_hospital_name,</if>
            <if test="inHospitalName != null">in_hospital_name,</if>
            <if test="outTime != null">out_time,</if>
            <if test="inTime != null">in_time,</if>
            <if test="reason != null">reason,</if>
            <if test="result != null">result,</if>
            <if test="userName != null">user_name,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="outDoctorName != null">#{outDoctorName},</if> 
            <if test="outHospitalName != null">#{outHospitalName},</if>
            <if test="inHospitalName != null">#{inHospitalName},</if>
            <if test="outTime != null">#{outTime},</if>
            <if test="inTime != null">#{inTime},</if>
            <if test="reason != null">#{reason},</if>
            <if test="result != null">#{result},</if>
            <if test="userName != null">#{userName},</if>
        </trim>
    </insert>
    <update id="update">
        update referal_record
        <set>
            <if test="outTime != null">
                out_time = #{outTime},
            </if>
            <if test="inTime != null">
                in_time = #{inTime},
            </if>
            <if test="reason != null">
                reason = #{reason},
            </if>
            <if test="result != null">
                result = #{result},
            </if>
            <if test="outHospitalName != null">
                out_hospital_name = #{outHospitalName},
            </if>
            <if test="inHospitalName != null">
                in_hospital_name = #{inHospitalName},
            </if>
            <if test="userName != null">
                user_name = #{userName},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteById">
        delete
        from referal_record
        where id = #{id}
    </delete>

    <select id="selectAll" resultType="com.example.entity.ReferralRecord">
        select referal_record.*
        from referal_record
        <where>
            <if test="result != null">
                and result = #{result} 
            </if>
            <if test="outDoctorName != null">
                and out_doctor_name = ${outDoctorName}
            </if>
        </where>
        order by id desc
    </select>

    <select id="selectById" resultType="com.example.entity.ReferralRecord">
        select referal_record.*,
        inHospitalName,d1.name as outDoctorName,d2.name as inDoctorName
        from referal_record
        left join doctor as d1 on referal_record.out_doctor_id = d1.id
        left join doctor as d2 on referal_record.in_doctor_id = d2.id
        <where>
           referal_record.id = #{id}
        </where>
    </select>
</mapper>