<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.TraverseMapper">
    <insert id="add" parameterType="com.example.entity.Traverse" useGeneratedKeys="true">
        insert into traverse
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userDate != null">user_date,</if>
            <if test="name != null">name,</if>
            <if test="doctorId != null">doctor_id,</if>
            <if test="hospitalId != null">hospital_id,</if>
            <if test="number != null">number,</if>
            <if test="advice != null">advice,</if>
            <if test="drug != null">drug,</if>
            <if test="inhospital != null">inhospital,</if>
            <if test="jurisdiction != null">jurisdiction,</if>
            <if test="signData != null">sign_data,</if>
            <if test="signResult != null">sign_result,</if>
            <if test="signPubKey != null">sign_pub_key,</if>
            <if test="signKey != null">sign_key,</if>
            <if test="img != null">img,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userDate != null">#{userDate},</if>
            <if test="name != null">#{name},</if>
            <if test="doctorId != null">#{doctorId},</if>
            <if test="hospitalId != null">#{hospitalId},</if>
            <if test="number != null">#{number},</if>
            <if test="advice != null">#{advice},</if>
            <if test="drug != null">#{drug},</if>
            <if test="inhospital != null">#{inhospital},</if>
            <if test="jurisdiction != null">#{jurisdiction},</if>
            <if test="signData != null">#{signData},</if>
            <if test="signResult != null">#{signResult},</if>
            <if test="signPubKey != null">#{signPubKey},</if>
            <if test="signKey != null">#{signKey},</if>
            <if test="img != null">#{img},</if>
        </trim>
    </insert>
    <update id="updateById">
        update traverse
        <set>
            <if test="name!=null">
                name = #{name},
            </if>
            <if test="doctorId!=null">
                doctor_id = #{doctorId},
            </if>
            <if test="hospitalId!=null">
                hospital_id = #{hospitalId},
            </if>
            <if test="advice!=null">
                advice = #{advice},
            </if>
            <if test="drug!=null">
                drug = #{drug},
            </if>
            <if test="number!=null">
                number = #{number},
            </if>
            <if test="jurisdiction!=null">
                jurisdiction = #{jurisdiction},
            </if>
            <if test="signData!=null">
                sign_data = #{signData},
            </if>
            <if test="signResult!=null">
                sign_result = #{signResult},
            </if>
            <if test="signPubKey!=null">
                sign_pub_key = #{signPubKey},
            </if>
            <if test="signKey!=null">
                sign_key = #{signKey},
            </if>
        </set>
        where id = #{id}
    </update>
    <delete id="deleteById">
        delete from traverse where id = #{id}
    </delete>

    <select id="selectAll" resultType="com.example.entity.Traverse">
        select traverse.*,hospital.hospital_name as hospitalName,doctor.name as doctorName
        from traverse
        left join hospital on hospital.id = traverse.hospital_id
        left join doctor on doctor.id = traverse.doctor_id
        <where>
            <if test="id != null">and traverse.id = #{id}</if>
            <if test="name != null">and traverse.name like concat('%', #{name}, '%')</if>
            <if test="doctorId!= null">and doctor_id = #{doctorId}</if>
            <if test="hospitalId!= null">and hospital_id = #{hospitalId}</if>
            <if test="drug!= null">and drug = #{drug}</if>
        </where>
        order by traverse.id
    </select>
    <select id="selectByNumber" resultType="com.example.entity.Traverse">
        select * from traverse where number=#{number}
    </select>
    <select id="selectById" resultType="com.example.entity.Traverse">
        select * from traverse where id=#{id}
    </select>
</mapper>