<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.TraverseMapper">
    <insert id="add" parameterType="com.example.entity.Traverse" useGeneratedKeys="true">
        insert into traverse
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="treatmentDate != null">treatment_date,</if>
            <if test="userId != null">user_id,</if>
            <if test="doctorId != null">doctor_id,</if>
            <if test="hospitalId != null">hospital_id,</if>
            <if test="timestamp != null">timestamp,</if>
            <if test="advice != null">advice,</if>
            <if test="diagnosis != null">diagnosis,</if>
            <if test="drug != null">drug,</if>
            <if test="inHospital != null">in_hospital,</if>
            <if test="signData != null">sign_data,</if>
            <if test="signResult != null">sign_result,</if>
            <if test="signPubKey != null">sign_pub_key,</if>
            <if test="signKey != null">sign_key,</if>
            <if test="img != null">img,</if>
            <if test="isValid != null">is_valid,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="treatmentDate != null">#{treatmentDate},</if>
            <if test="userId != null">#{userId},</if>
            <if test="doctorId != null">#{doctorId},</if>
            <if test="hospitalId != null">#{hospitalId},</if>
            <if test="timestamp != null">#{timestamp},</if>
            <if test="advice != null">#{advice},</if>
            <if test="diagnosis != null">#{diagnosis},</if>
            <if test="drug != null">#{drug},</if>
            <if test="inHospital != null">#{inHospital},</if>
            <if test="signData != null">#{signData},</if>
            <if test="signResult != null">#{signResult},</if>
            <if test="signPubKey != null">#{signPubKey},</if>
            <if test="signKey != null">#{signKey},</if>
            <if test="img != null">#{img},</if>
            <if test="isValid != null">#{isValid},</if>
        </trim>
    </insert>
    <update id="updateById">
        update traverse
        <set>
            <if test="userId!=null">
                user_id = #{userId},
            </if>
            <if test="doctorId!=null">
                doctor_id = #{doctorId},
            </if>
            <if test="hospitalId!=null">
                hospital_id = #{hospitalId},
            </if>
            <if test="advice!=null">
                advice = #{advice},
            </if>
            <if test="drug!=null">
                drug = #{drug},
            </if>
            <if test="timestamp!=null">
                timestamp = #{timestamp},
            </if>
            <if test="signData!=null">
                sign_data = #{signData},
            </if>
            <if test="signResult!=null">
                sign_result = #{signResult},
            </if>
            <if test="signPubKey!=null">
                sign_pub_key = #{signPubKey},
            </if>
            <if test="signKey!=null">
                sign_key = #{signKey},
            </if>
            <if test="isValid!=null">
                is_valid = #{isValid},
            </if>
        </set>
        where id = #{id}
    </update>
    <delete id="deleteById">
        delete from traverse where id = #{id}
    </delete>

    <select id="selectAll" resultType="com.example.entity.Traverse">
        select traverse.*, hospital.hospital_name as hospitalName, doctor.name as doctorName, user.name as userName, ward.name as wardName
        from traverse
        left join hospital on hospital.id = traverse.hospital_id
        left join doctor on doctor.id = traverse.doctor_id
        left join user on user.id = traverse.user_id
        left join ward on ward.id = traverse.ward_id
        <where>
            <if test="id != null">and traverse.id = #{id}</if>
            <if test="userId != null">and traverse.user_id = #{userId}</if>
            <if test="doctorId!= null">and doctor_id = #{doctorId}</if>
            <if test="hospitalId!= null">and traverse.hospital_id = #{hospitalId}</if>
            <if test="wardId != null"> and traverse.ward_id = #{wardId}</if>
            <if test="drug!= null">and drug like concat('%', #{drug}, '%')</if>
            <if test="userName != null"> and user.name like concat('%', #{userName}, '%')</if>
        </where>
        order by traverse.id
    </select>
    <select id="selectByTimestamp" resultType="com.example.entity.Traverse">
        select * from traverse where timestamp=#{timestamp}
    </select>
    <select id="selectById" resultType="com.example.entity.Traverse">
        select * from traverse where id=#{id}
    </select>
</mapper>